<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Messter</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
  </head>
  <body>
  <section class="section">
    {% if not correct %}
    <p>Incorrect username or password !! Try again !!</p>
    {% else %}
    {% endif %}
    <div class="container has-text-centered" >
      <h1 class="title has-text-centered">
        Messter
      </h1>
      <div class="container" id="tilelogin">
      <div class="tile is-ancestor">
        <div class="container custom">
        <div class="tile is-4"></div>
        <div class="tile is-4">
         <form class="has-text-centered" method="POST" action={{ url_for('verifylogin') }} name="login_form">
          <h3 class="title is-5">Login</h3>
            <label for="rollno">Roll number</label>
              <div class="field">
                <div class="control">
                  <input name="rollno" class="input is-small" type="text" placeholder="Roll No.">
                </div>
              </div>
           <label for="pass">Password</label>
              <div class="field">
                <div class="control">
                  <input name="pass" class="input is-small" type="password" placeholder="Password">
                </div>
              </div>
          <button class="button is-dark">Login</button>
         </form> 
        </div>
      </div>
        <div class="tile is-4"></div>
        </div>      
    <br>  
    <div class="container has-text-centered">
    <p onclick="registerr()">Register</p>
    </div>
    </div>
    </div>

    <div class="container" style="display: none;" id="tileregister">
      <div class="tile is-ancestor">
        <div class="container custom">
        <div class="tile is-4"></div>
        <div class="tile is-4">
         <form class="has-text-centered" method="POST" action={{ url_for('verifylogin') }} name="register_form">
          <h3 class="title is-5">Register</h3>
            <label for="rollno">Roll number</label>
              <div class="field">
                <div class="control">
                  <input name="rollno" class="input is-small" type="text" placeholder="Roll No.">
                </div>
              </div>
           <label for="pass">Password</label>
              <div class="field">
                <div class="control">
                  <input name="pass" class="input is-small" type="password" placeholder="Password">
                </div>
              </div>
            <label for="height">Height(cm.)</label>
              <div class="field">
                <div class="control">
                  <input name="height" class="input is-small" type="number" placeholder="Height">
                </div>
              </div>
            <label for="weight">Weight(Kg)</label>
              <div class="field">
                <div class="control">
                  <input name="weight" class="input is-small" type="number" placeholder="Weight">
                </div>
              </div>
          <button class="button is-dark">Register</button>
         </form> 
        </div>
      </div>
        <div class="tile is-4"></div>
        </div> 
    <br>  
    <div class="container has-text-centered">
     <p onclick="loginn()">Login</p>
    </div>
    </div>
  </section>

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

  </body>
  <script type="text/javascript">
    function registerr(){
      document.getElementById('tilelogin').style.display = "none";
      document.getElementById('tileregister').style.display = "block";      
    }
    function loginn(){
      document.getElementById('tileregister').style.display = "none";
      document.getElementById('tilelogin').style.display = "block";      
    }
  </script>
</html>