<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Messter</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
  </head>
  <body>
  	<div class="container has-text-centered"> 
  		<div class="title is-2">Welcome!</div>
  		<h1 class="title is-1">U17CO074</h1>
  	</div>
  </body>
</html>