<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Messter</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
  </head>
  <body>
    <div style="text-align: right;">You have 10 credits!</div>

    <!-- IF SUBMITTED ALREADY -->
  <!--   <div class="container has-text-centered">
      <div class="title is-2">Welcome!</div>
      <h1 class="title is-1">U17CO074</h1>
      <button class="button is-small">Edit</button>
    </div> -->

    <!-- IF NOT SUBMITTED YET -->
  	<div class="container has-text-centered"> 
  		<div class="title is-2">Welcome!</div>
  		<h1 class="title is-1">{{ rollno }}</h1>
      <h2 class="tile is-3">Todays menu:</h2>
      <form name="menu" method="GET" action= {{ url_for('verifylogin') }}>
        <input type="text" name="formname" default="form_fill" style="display: none">
      <table class="table" style="margin: 1%;">
        <thead>
          <tr>
            <th>Meal</th>
            <th>Items</th>
            <th>Going?</th>
          </tr>          
        </thead>
        <tbody>
          <tr>
            <td>Breakfast</td>
            <td>{{ breakfast }}</td>
            <td>
              <input type="checkbox" name="meal" value="breakfast">
            </td>
          </tr>
          <tr>
            <td>Lunch</td>
            <td>{{ lunch }}</td>
            <td><input type="checkbox" name="meal" value="lunch"></td>
          </tr>
          <tr>
            <td>Dinner</td>
            <td>{{ dinner }}</td>
            <td><input type="checkbox" name="meal" value="dinner"></td>
          </tr>
        </tbody>
      </table>
      <br><br>
      <button class="button is-dark">Submit</button>
      </form>  
      <br><br><br><br><br><br><br><br><br>
      <p>Logout</p>
  	</div>

    <br>
  </body>
</html>